.list {
  overflow-x: hidden;
  margin-bottom: 80px;
  background: none;
  margin-top: 10px;
  user-select: none;
  overflow-y: hidden;
  padding-top: 0;
  padding-bottom: 0;
}

.list:hover {
  overflow-y: overlay;
  z-index: 999;
  position: relative;
}

/* width */
.list::-webkit-scrollbar {
  width: 24px;
}

/* Track */
.list::-webkit-scrollbar-track {
  background: none;
  box-shadow: none;
}

/* Handle */
.list::-webkit-scrollbar-thumb {
  background-color: #000000c2;
  border: 0.4em solid rgba(0, 0, 0, 0);
  /* Transparent border together with `background-clip: padding-box` does the trick */
  background-clip: padding-box;
}

.list::-webkit-scrollbar-thumb:hover {
  background-color: #000000c2;
}

.list::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}

.list::-webkit-scrollbar-corner {
  background-color: transparent;
}
