.appFrame{
  background-color: #fafafa;
  background: #eceeef;
  /* background-color: #fdfdfd; */
  /* background: linear-gradient(0deg, #fafafa 0%, #ffffff 100%) */
  z-index: 999;
  -webkit-app-region: no-drag;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.17);
  /* box-shadow: 0px 0px 20px 0px rgba(44, 101, 144, 0.1); */
  /* box-shadow: rgb(145 158 171 / 24%) 0px 0px 2px 0px, rgb(145 158 171 / 24%) 0px 16px 32px -4px; */
  /* border-bottom: 1px solid #0000000d; */
  flex-basis: 36px;
  /* background: #353c40; */
}

.draggableRegion{
  position: absolute;
  height: 32px;
  display: flex;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 0px;
  -webkit-app-region: drag;
}

.noDrag{
  -webkit-app-region: no-drag;
  -webkit-user-select: none;
}

.section{
  align-items: center;
  display: flex;
  padding: 0 1px;
  height: 36px;
  position: relative;
  bottom: 4px;
}

.section:last-child{
  justify-content: flex-end;
}

.header{
  -webkit-user-select: none;
  font-size: 14px;
  display: flex;
  font-weight: 600;
  padding-right: 4px;
  align-items: center;
}

.iconWrapper{
  width: 20px;
  height: 20px;
  margin-left: 5px;
}

.date{
      /* background: #6c5ab5; */
      /* padding: 4px 15px; */
      border-radius: 4px;
      /* box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.24); */
      position: relative;
      /* margin-top: -1px; */
      -webkit-user-select: none;
      font-size: 13px;
      display: flex;
      font-weight: 600;
      color: #060606;
      /* text-shadow: 0px 3px 8px #2a2a2a4a; */
      /* letter-spacing: 0.5px; */
}

.bold{
  font-weight: 600;
}

.actions{
  -webkit-app-region: no-drag;
  -webkit-user-select: none;
  display: flex;
}

.button{
  border: none;
  background: none;
  margin-right: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  margin-left: 4px;
  width: 40px;
  height: 36px;
  border-radius: 4px;
}

.button:hover{
  background-color: rgba(0, 0, 0, 0.04);
}

.button svg{
  font-size: 20px;
}

.breadcrumbs{
  margin-right: 20px;
  /* font-weight: 600; */
  font-size: 16px;
  color: #000000;
  margin-top: -2px;
  /* text-shadow: 0px 0px 4px #00000012; */
}


.toggleBtn{
/* padding: 4px 6px; */
border-radius: 5px;
outline: none;
cursor: pointer;
margin-right: 0px;
min-width: unset;
color: #000000;
/* width: 40px;
    height: 36px; */
}