.container {
  position: relative;
  user-select: none;
  /* background: #0e7ab9b8; */
  /* background: linear-gradient(66deg, rgba(11,106,161,1) 0%, rgba(14,122,185,1) 100%); */
  -webkit-app-region: no-drag;
  -webkit-user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 25px;
}

.mainTitle {
  font-size: 36px;
  font-weight: 600;
  color: rgb(45, 147, 219);
}

.subtitle {
  width: 120px;
  line-height: 13px;
  color: #000000;
  padding-top: 2px;
  margin-right: 5px;
}

.extraTitleWrapper {
  display: flex;
  padding-right: 25px;
  margin-top: -15px;
}

.extraTitle {
  font-size: 12px;
}
