.container {
  position: relative;
  user-select: none;
  /* background: #0e7ab9b8; */
  /* background: linear-gradient(66deg, rgba(11,106,161,1) 0%, rgba(14,122,185,1) 100%); */
  -webkit-app-region: no-drag;
  -webkit-user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainTitle {
  font-size: 36px;
  font-weight: 600;
  color: #ffffff;
}

.subtitle {
  width: 120px;
  line-height: 14px;
  color: #ffffff;
  font-weight: 600;
  padding-top: 2px;
}
