.container {
  position: relative;
  user-select: none;
  /* background: #0e7ab9b8; */
  /* background: linear-gradient(66deg, rgba(11,106,161,1) 0%, rgba(14,122,185,1) 100%); */
  -webkit-app-region: no-drag;
  -webkit-user-select: none;
}

.wraper {
  display: flex;
  justify-content: center;
}

.logoImgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  padding-right: 10px;
}

.logo {
  background-image: url('../../../assets/images/Untitled-1.png');
  background-repeat: no-repeat;
  height: 100px;
  width: 80px;
  background-position-y: 25px;
}

.mainTitle {
  font-size: 28px;
  font-weight: 500;
  line-height: normal;
  margin-top: 18px;
  color: #000000;
}

.subContainer {
  margin-top: -10px;
  z-index: 3;
  padding-bottom: 28px;
}

.subtitle1Wrapper {
  padding-right: 60px;
}

.subtitle2Wrapper {
  padding-right: 20px;
  margin-top: -4px;
}

.subtitle {
  text-align: right;
  font-size: 12px;
  color: #000000;
  font-weight: 500;
  font-style: normal;
  position: relative;
}

.appVersionWrapper {
  position: absolute;
  bottom: 15px;
  left: 30px;
}

.versionText {
  font-size: 12px;
  color: #000000;
  font-weight: 400;
}