.container{
  margin-bottom: 20px;
  font-size: 16px;
}

.subtitle{
  margin-bottom: 10px;
}

.label{
  font-weight: 600;
  margin-left: 5px;
}

.releaseInfo{
  margin-bottom: 20px;
}

.installButton, .downloadButton{
  margin-right: 5px;
}

.downloadProgressWrapper{
  display: block;
}

.progressBarWrapper{
  direction: ltr;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 572px;
}

.progressBarInner{
  width: 500px;
  margin: 0 5px;
}

.bar1Determinate{
  background-color: #0365a2;
  direction: ltr;
}

.colorPrimary{
  background-color: #f3f4f8;
}

.downloadTitle{
  margin-bottom: 20px;
}

.downloadDetails{
  display: flex;
  align-items: center;
  width: 572px;
  margin-top: 20px;
}

.downloadSpeed{
  display: flex;
  flex-grow: 1;
}

.downloadTransferred{
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}