.container {
  -webkit-app-region: no-drag;
  -webkit-user-select: none;
  user-select: none;
}

.moreBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  color: #e5e5e5;
  border: none;
  outline: none;
  cursor: pointer;
  min-width: 0;
  margin: 0 10px;
  -webkit-app-region: no-drag;
  -webkit-user-select: none;
  user-select: none;
  border-radius: 4px;
  width: 34px;
  height: 32px;
}

.moreBtn:hover {
  background: linear-gradient(
      45deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(255, 255, 255, 0.25) 100%
    )
    rgb(34 202 140);
}
