.spinner {
    animation: spin 7s linear infinite;
  }
  
  .spinner:hover{
  animation-play-state: paused;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .icon{
    color: #dddddd;
    font-size: 1.5rem;
  }

  .navLink{
    display: flex;
    padding: 6px 8px;
    border-radius: 3px;
  }