.spinner {
  animation: spin 7s linear infinite;
}

.spinner:hover {
  animation-play-state: paused;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.icon {
  color: #000000;
  font-size: 1.5rem;
}

.navLink {
  display: flex;
  margin: 0 10px;
  border-radius: 4px;
  width: 34px;
  height: 32px;
}

.navLink:hover {
  background: linear-gradient(
      45deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(255, 255, 255, 0.25) 100%
    )
    rgb(81, 89, 103);
}

.minWidth {
  min-width: 0;
}

.animatedIn {
  animation: rotateForward 1s;
  animation-fill-mode: forwards;
}

@keyframes rotateForward {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(405deg);
    border-radius: 100%;
    width: 32px;
    height: 32px;
  }
}

.animatedOut {
  animation: rotateBackwards 0.5s;
  animation-fill-mode: forwards;
}

@keyframes rotateBackwards {
  from {
    transform: rotate(405deg);
    border-radius: 100%;
    width: 32px;
    height: 32px;
  }
  to {
    transform: rotate(0deg);
    border-radius: 4px;
    width: 34px;
    height: 32px;
  }
}
