
.dialog{

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.btn{
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  margin: 0 3px;
  box-shadow: 0px 0px 2px #00000061;
  background: #fff;
  border-radius: 4px;
  padding: 2px 5px;
}

.close{
  color: red;
}

.done{
  color: green;
}