.wrapper{
  display: flex;
justify-content: center;
align-items: center;
border-right: 1px solid rgba(0, 0, 0, 0.08);
}

.btn{
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 6px;
  padding: 2px 5px;
}

.icon{
  color: #dc2d2d;
}