.container{
  background: #fff;
  padding: 40px 20px 60px;
  border-radius: 4px;
}

.divider{
  margin-bottom: 30px;
  margin-top: 5px;
}

.paddingLeft{
  margin-left: 20px;
}

.select{
  width: 150px;
}

.createBtn,.createBtn:hover{
  background-color: #1b966e;
}

.description{
  font-size: 16px;
}