.container{
  display: flex;
  padding-top: 20px;
}

.paddingLeft{
  margin-left: 20px;
}

.select{
  width: 150px;
}

.description{
  margin-top: 20px;
}

.descriptionText{
  font-size: 14px;
  font-weight: 400;
}