.drawer {
  width: 250px;
  flex-shrink: 0;
  z-index: 2;
  box-shadow: none;
  box-shadow: 0 10px 30px -12px rgb(0 0 0 / 42%), 0 4px 25px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
  background: url('../assets/images/mountains.jpg') no-repeat;
  background-size: cover;
  overflow: hidden;
}

.drawerPaper {
  width: 250px;
  /* background: linear-gradient(315deg, rgba(33, 39, 49, 0.96) 0%, rgba(46, 55, 62, 0.84) 100%); */
  background: linear-gradient(315deg, rgb(30 42 62 / 96%) 0%, rgb(30 59 82 / 84%) 100%);
  overflow: initial;
  position: relative;
  border: none;

}

.hideSidebar{
  animation: hide 0.2s linear forwards;
}

.showSidebar{
  animation: show 0.2s linear backwards;
}

@keyframes hide{
  0% {
    width: 250px;
  }
  100% {
    width: 0;
  }
}

@keyframes show{
  0% {
    width: 0px;
    margin-right: -250px;
  }
  100% {
    width: 250px;
    margin-right: 0;
  }
}