.container{
  -webkit-app-region: no-drag;
  -webkit-user-select: none;
}

.menuItem{
  padding: 0;
}

.menuItemLink{
  padding: 6px 16px;
  width: 100%;
  font-size: 16px;
}

.menuItemLink:active,.menuItemLink:visited,.menuItemLink:link{
  color: #000000;
}

.listIcon{
  min-width: 36px;
  color: #0365a2;
}