.listItem {
  padding-right: 16px;
  position: relative;
  z-index: 1;
}

.listItem:active {
  padding-right: 16px;
  position: relative;
  z-index: 1;
}

.listItem,
.listItemIcon,
.listItemText {
  color: #e5e5e5;
}
