#st-table {
  width: 100%;
  height: auto;
}

td, th {
  border: 1px solid #dddddd;
  text-align: right;
  padding: 8px;
  border-collapse: collapse;
}



#st-thead-group{
  display: table-header-group;
  width: 100%;
}

#st-thead-group div{
  display: table-cell;
}

#st-tbody-row{
  display: table-row;
  width: 100%;
  table-layout: auto;
}

#st-tbody-row div{
  display: table-cell;
}

#st-tbody-row:nth-child(even) {
  background-color: #dddddd;
}