.st-table{
  display: table !important;
  border-collapse: collapse;
  width: 100%;
}

.st-head{
  display: table-header-group !important;
  page-break-before: always;
}

.st-body{
  display: table-row-group !important;
  page-break-before: always;
}

.st-row{
  display: table-row !important;
  border-bottom: thin solid #000 !important;
  page-break-before: always;
}

.st-cell{
  display: table-cell !important;
  page-break-before: always;
  border-right: thin solid #000 !important;
}