.st-table{
  display: table !important;
  border-collapse: collapse;
}

.st-head{
  display: table-header-group !important;
  page-break-before: always;
}

.st-body{
  display: table-row-group !important;
  page-break-before: always;
}

.st-row{
  display: table-row !important;
  border: 1px solid #ccc;
  page-break-before: always;
}

.st-cell{
  display: table-cell !important;
  page-break-before: always;
}