.dbRestoreTitle{
  display: inline-block;
  margin-bottom: 0;
  padding-top: 2px;
  font-size: 28px;
}

.restoreFileTextFieldLocationWrapper{
  margin-top: 0px;
  width: 580px;
  background-color: #ffffff;
}

.restoreFileTextFieldLocationInput{
  padding: 9px 14px;
  direction: ltr;
}

.restoreLastUpdate{
  font-size: 15px;
  position: absolute;
  left: 25px;
}

.divider{
  margin-bottom: 20px;
  margin-top: 5px;
}