.wrapper {
  border-radius: 26px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1,
h3 {
  margin: 0;
  text-align: center;
}

.logo {
  display: flex;
  justify-content: center;
}

.mainTitle {
  color: #000000;
  font-weight: 400;
}

.mainTitle h1 {
  font-size: 24px;
}

.subTitle {
  color: #000000;
}

.subTitle h3 {
  font-size: 14px;
  font-weight: 400;
}

.loadingText {
  color: #000000;
  margin-top: 20px;
}

.loadingText h1 {
  font-weight: 400;
  font-size: 18px;
}

.gif {
  background: url("./loader.gif") no-repeat;
  width: 160px;
  height: 24px;
}
