.wrapper{
  border-radius: 4px;
    margin-bottom: 30px;
    border-bottom: 1px dashed #ccc;
    
}

.controls{
  display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.leftPane{
  flex-grow: 1;
  justify-content: flex-end;
  display: flex
}

.middlePane{
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.rightPane{
  flex-grow: 1;
}