.paper{
  background-color: #ffffff;
  border-radius: 3px;
  min-height: 260px;
  overflow: hidden;
  /* box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%); */
  /* box-shadow: 0 0 10px 4px rgb(0 0 0 / 2%); */
  box-shadow: 0 0 12px 2px rgb(0 0 0 / 6%);
  display: flex;
  flex-direction: column;
}

.upper{
  display: flex;
  border-bottom: 1px solid #f1f1f1;
  height: 60px;
  align-items: center;
  padding: 0 15px;
}

.titleWrapper{
  border-radius: 3px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.titleText{
  color: #ffffff;
  font-size: 26px;
  font-weight: 400;
}

.bottom{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}