.paper{
  background-color: #ffffff;
  border-radius: 6px;
  min-height: 300px;
  /* overflow: hidden; */
  /* box-shadow: 0px 0px 20px 0px rgba(44, 101, 144, 0.1); */
  /* box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%); */
  box-shadow: none;
  display: flex;
  flex-direction: column;
  border: 1px solid #dddddd;
  /* margin-top: 30px; */
  overflow: hidden;
}

.upper{
  display: flex;
  border-bottom: 1px solid #dddddd;
  height: 87px;
  align-items: center;
  padding: 0 15px;
  /* margin: -30px 15px 0; */
  background: #f5f5f5;
  box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(0 0 0 / 14%);
  /* border-radius: 3px; */
}

.titleWrapper{
  border-radius: 3px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.titleText{
  color: #555555;
  font-size: 32px;
  font-weight: 500;
}

.bottom{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}