.wrapper{
  padding-top: 30px;
}

.infoBox{
  width: 24%;
  min-height: 150px;
  margin: 0 0 0 1%;
  padding: 10px 12px;
  display: inline-block;
  box-shadow: initial;
}

.infoBox:first-child{
  margin-right: 0.5%;
}

.infoBox:last-child{
  margin-left: 0;
}

.infoBox .header{
  background-color: initial;
  box-shadow: initial;
  border-bottom: 1px solid #fff;
  margin-bottom: 10px;
  border-radius: initial;
}

.header .title{
  color: #fff;
}

.infoBox .body{
  background-color: initial;
  box-shadow: initial;
  border-radius: initial;
}

.expansesTitle{
  font-size: 20px;
}

