@media only print {
  @page {
    size: auto;   /* auto is the initial value */
    margin: 0;  /* this affects the margin in the printer settings */
    height: auto !important;
    width: 70mm !important;
  }

  #appFrame,#sidebar,#pageHeader{
    display: none !important;
  }

  #sidebar{
    display: none !important;
  }

  body{
    background-color: yellow;
  }

}