@font-face {
  font-family: "Rubik";
  font-weight: 400;
  src: url("../fonts/Rubik/Rubik-Regular.ttf");
}


@font-face {
  font-family: "Rubik";
  font-weight: 600;
  src: url("../fonts/Rubik/Rubik-Medium.ttf");
}

html,body{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    overflow: hidden;
}

html{
  scroll-behavior: smooth;
}

body{
  background: #f3f4f8;
}

#root{
  height: 100%;
}

#sidebar{
  /* box-shadow: -1px 0px 4px #00000042; */
/* box-shadow: -4px 0px 4px -4px rgba(0,0,0,0.75); */
}

textarea {
  resize:vertical;
}

a {
  text-decoration: none;
  outline: none;
}


/* width */
::-webkit-scrollbar {
  width: 8px;
  overflow-x: hidden;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #e2e2e2;
  border-radius: 4px;
}

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #555; 
} */

.activeButton{
  /* background: #394ba5; */
  /* background: #167db9; */
    /* background-image: linear-gradient(141deg, #5bb7b7 0%, #347a9c 51%, #1084af 75%); */
    /* background-image: linear-gradient(141deg, #21bd99 0%, #14659e 75%); */
  /* color: #fff; */
  /* box-shadow: inset -8px 0px 0 #6057ec; */
  box-shadow: inset -8px 0px 0 #d0213f;
  border-radius: initial;
  /* background-image: linear-gradient(rgba(87, 98, 226, 0) 50%, #e2487a59 100% ); */
}

.hideAnimation{
  animation: hide 0.2s ease 0.2s forwards;
}

.showAnimation{
  animation: show 0.2s ease 0.2s backwards;
}

@keyframes hide{
  0% {margin-right: 0px;}
  100% {
    margin-right: -240px;
  }
}

@keyframes show{
  0% {
    margin-right: -240px;
  }
  100% {
    margin-right: 0px;
  }
}

.hideButtonAnimation{
  animation: hideButton 0.5s ease 0.5s forwards;
}

.showButtonAnimation{
  animation: showButton 0.5s ease 0.5s backwards;
}

@keyframes hideButton{
  0% {right: 16px;}
  100% {
    right: 224px;
  }
}

@keyframes showButton{
  0% {
    right: 224px;
  }
  100% {
    right: 16px;
  }
}

.showMainAnimation{
  animation: showMain 0.4s ease 0.4s forwards;
}

@keyframes showMain{
  0% {
    left: -1960px;
  }
  100% {
    opacity: 1;
    left: 0px;
  }
}




/* Hide HTML5 Up and Down arrows. */
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input,textarea{
    font-family: 'Rubik', sans-serif;
}

/* react table overrides */
.ReactTable .-pagination{
  box-shadow: none;
  border-top: none;
  padding: 3px 0;
}

.ReactTable{
  background: #fff;
  border:none;
}

.ReactTable.-striped .rt-tr.-odd{
  background: rgb(249, 250, 251);
}

/** change body row parameters **/
.ReactTable .rt-tbody .rt-tr-group{
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

/** change body cell paramters **/
.ReactTable .rt-tbody .rt-td{
  border-right: 1px solid rgba(0, 0, 0, 0.08);
}

.ReactTable .rt-tbody .rt-td:first-child{
  border-right: none;
}

.ReactTable .rt-tbody .rt-td:last-child{
  border-right: 1px solid rgba(0, 0, 0, 0.08);
}

.ReactTable .rt-noData{
  font-size: 24px;
  color: #353535;
}

.ReactTable .rt-table{
  display: block;
}

.rt-table{
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.08);
}

.rt-tbody{
  height: 580px;
}

.rt-td{
  align-items: center;
    justify-content: center;
    vertical-align: middle;
    display: flex;
    font-size: 15px;
}

.ReactTable .rt-thead .rt-th{
  background: #ebeef1;
}

.ReactTable .rt-thead .rt-th:last-child{
border: none;
}

.ReactTable .rt-thead .rt-th:first-child{
  border: none;
  }

/******** Toastify override ********/
.Toastify__toast--success {
  font-size: 16px;
  background: #199e3c;
}

.Toastify__toast--info {
  background: #207ea2;
  font-size: 16px;
}

.Toastify__toast--error {
  background: #e44534;
  font-size: 16px;
}

.Toastify__toast--warning {
  background: #f18d12;
  font-size: 16px;
}
