@font-face {
  font-family: "Assistant";
  font-weight: 400;
  src: url("../fonts/Assistant/Assistant-Regular.ttf");
}

@font-face {
  font-family: "Assistant";
  font-weight: 500;
  src: url("../fonts/Assistant/Assistant-SemiBold.ttf");
}

@font-face {
  font-family: "Assistant";
  font-weight: 600;
  src: url("../fonts/Assistant/Assistant-Bold.ttf");
}

html,body{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Assistant, sans-serif;
    overflow: hidden;
    color: black;
}

html{
  scroll-behavior: smooth;
}

body{
  background: #fafafa;
}

#root{
  height: 100vh;
  display: flex;
  flex-direction: column;
}

textarea {
  resize:vertical;
}

a {
  text-decoration: none;
  outline: none;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
  overflow-x: hidden;
  border-radius: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */

}
 
/* Handle */
::-webkit-scrollbar-thumb {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
  background-color: #d2d5d8;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(46, 55, 62); 
}

.activeExpandItem,.activeExpandItem:hover{
  background: #0000001f;
  border-radius: 3px;
}

.activeButton,.activeButton:hover{
  background: rgb(28 102 165 / 48%);
  margin: 0 10px;
  width: 230px;
  border-radius: 0px;
  padding-right: 16px;
  border-radius: 3px;
}

.activeButton2{
  border-radius: initial;
  border-bottom: 3px solid rgb(3, 101, 162);
}

/* Hide HTML5 Up and Down arrows. */
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input,textarea{
  font-family: 'Assistant', sans-serif;
}

/******** Toastify override ********/
.Toastify__toast--success {
  font-size: 16px;
  background: #199e3c;
}

.Toastify__toast--info {
  background: #207ea2;
  font-size: 16px;
}

.Toastify__toast--error {
  background: #e44534;
  font-size: 16px;
}

.Toastify__toast--warning {
  background: #f18d12;
  font-size: 16px;
}

@media only print{
  @page {
    size: auto;   /* auto is the initial value */
    margin: 10px 10px 35px 10px;  /* this affects the margin in the printer settings */
  }

  html,body,#mainContainer,#appWrapper{
    overflow: visible !important;
  }

  body{
    background: #ffffff !important;
    -webkit-print-color-adjust: exact !important;
  }

  #root{
    height: initial !important;
    display: block !important;
    flex-direction: unset !important;
  }

  #appFrame,
  #sidebar,
  #pageHeader,
  #toolbar,
  #tableControls,
  #section,
  #styledSection-header,
  #printModal,
  #section-header,
  hr{
    display: none !important;
  }

  #styledSection{
    margin:0;
    padding: 0;
    box-shadow: none;
    height: 100vh;
    position: unset;
  }

  #styledSection-content{
    overflow: visible !important;
    position: unset !important;
  }

  #printHeader{
    display: block;
  }

  #tableSection{
    margin: 0 !important;
    border: none !important;
  }

  #table{
    box-shadow: none !important;
  }

  table{
    page-break-before: always !important;
    padding: 1px;
    border-collapse: collapse;
    display: table;
  }
  
  ._tableBody > div{
    position: relative !important;
  }

  ._tableBody > div > div{
    position: relative !important;
  }

  thead{
    position: relative !important;
    page-break-inside: avoid;
    break-inside: avoid;
    page-break-before: avoid;
  }

  th,td{
    padding: 0;
    margin: 0;
  }
  
  tr{
    display: table-row;
  }

  td{
    page-break-inside: avoid;
    break-inside: avoid;
  }

  tfoot{
    display: none;
    page-break-before: avoid;
    break-inside:avoid;
  }

  .groupRow{
    background-color: #f9f9f9 !important;
    border-top: thin solid black !important;
    border-bottom: none !important;
  }

  .headerRow{
    background-color: #f9f9f9 !important;
    border-top: thin solid black !important;
    box-shadow: none !important;
  }

  .tableRow{
    border-bottom: thin solid black !important;
    border-left: thin solid black !important;
    overflow: hidden !important;
  }

  .tableCell:last-child{
    padding-left: 0 !important;
  }

  .tableCell:first-child{
    border-right: thin solid black !important;
  }

  .tableCell:hover{
    background-color: initial;
  }

  .tableCell{
    border-right: thin solid black !important;
  }

}