html,body{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    /* background: #191b21; */
}

#root{
  height: 100%;
}

#sidebar{
  box-shadow: -1px 0px 4px #00000042;
}

textarea {
  resize:vertical;
}

a {
  text-decoration: none;
  outline: none;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  overflow-x: hidden;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #e2e2e2;
  border:1px solid #ccc;
}

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #555; 
} */

.activeButton{
  /* background: #394ba5; */
  /* background: #167db9; */
    /* background-image: linear-gradient(141deg, #5bb7b7 0%, #347a9c 51%, #1084af 75%); */
    /* background-image: linear-gradient(141deg, #21bd99 0%, #14659e 75%); */
  /* color: #fff; */
  box-shadow: inset -8px 0px 0 #1a58b5;
  border-radius: initial;
}

.hideAnimation{
  animation: hide 0.3s ease 0.3s forwards;
}

.showAnimation{
  animation: show 0.3s ease 0.3s backwards;
}

@keyframes hide{
  0% {margin-right: 0px;}
  100% {
    margin-right: -230px;
  }
}

@keyframes show{
  0% {
    margin-right: -230px;
  }
  100% {
    margin-right: 0px;
  }
}

.hideButtonAnimation{
  animation: hideButton 0.5s ease 0.5s forwards;
}

.showButtonAnimation{
  animation: showButton 0.5s ease 0.5s backwards;
}

@keyframes hideButton{
  0% {right: 196px;}
  100% {
    right: 224px;
  }
}

@keyframes showButton{
  0% {
    right: 224px;
  }
  100% {
    right: 196px;
  }
}

.showMainAnimation{
  animation: showMain 0.4s ease 0.4s forwards;
}

@keyframes showMain{
  0% {
    left: -1960px;
  }
  100% {
    opacity: 1;
    left: 0px;
  }
}




/*
other stuff */
.cellRender{
  /* padding: 7px 5px; */
  outline-color: blue;
  border: none;
  background: none;
  width: 100%;
    height: 100%;
    text-align: center;
    font-size: inherit;
}

.cellRender:hover{
  background: url('https://www.materialui.co/materialIcons/image/edit_black_192x192.png') no-repeat;
  background-size: 20px 20px;
  background-position: right center;
  outline-color: blue;
}

/* Hide HTML5 Up and Down arrows. */
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input{
  align-items: center;
    justify-content: center;
    vertical-align: middle;
    display: flex;
    font-family: 'Roboto', sans-serif;
}

textarea{
  align-items: center;
    justify-content: center;
    vertical-align: middle;
    display: flex;
    font-family: 'Roboto', sans-serif;
}

/* react table overrides */
.ReactTable .rt-noData{
  font-size: 24px;
  color: #353535;
}

.ReactTable .rt-table{
  display: block;
}

.rt-tbody{
  height: 580px;
}

.rt-td{
  align-items: center;
    justify-content: center;
    vertical-align: middle;
    display: flex;
}