.wrapper{
  display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    position: absolute;
    bottom: 15px;
    right: 15px;
    z-index: 999;
}

.content{
  background: rgba(0, 0, 0, 0.74);
  padding: 5px 15px;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  font-weight: 600;
}