.wrapper{
  border-radius: 4px;
}

.editBtn{
  min-width:90px;
  background: #272931;
}

.addNewBtn{
  margin-right: 10px;
  background: #272931;
}

.addNewBtn, .editBtn{
  background-color: #343a40;
  border-color: #343a40;
  min-width:90px;
}


/*.editBtn{
  min-width:90px;

  background: #2372b5;
    box-shadow: none;
    border-radius: initial;
    margin-right: 1px;
}

.addNewBtn{
  margin-right: 10px;
  min-width:90px;
 
  background: #2372b5;
    box-shadow: none;
    border-radius: initial;
} */