.wrapper{
  margin: 10px 0;
  padding: 10px;
  background: #ffffff;
/*   border-right: 3px solid #1391c1;
  border-left: 3px solid #1391c1; */
  border-radius: 4px;
}

.editBtn{
  min-width:90px;
  background: #272931;
}

.addNewBtn{
  margin-right: 10px;
  min-width:90px;
  background: #272931;
}


/*.editBtn{
  min-width:90px;

  background: #2372b5;
    box-shadow: none;
    border-radius: initial;
    margin-right: 1px;
}

.addNewBtn{
  margin-right: 10px;
  min-width:90px;
 
  background: #2372b5;
    box-shadow: none;
    border-radius: initial;
} */