.wrapper{
  border-radius: 4px;
}

.editBtn{
  min-width:90px;
  background: #272931;
}

.addNewBtn{
  margin-right: 10px;
  background: #272931;
}

.addNewBtn, .editBtn{
  background: rgb(51, 51, 51);
  min-width:90px;
  box-shadow: none;
  border: 1px solid #6057ec;
}


/*.editBtn{
  min-width:90px;

  background: #2372b5;
    box-shadow: none;
    border-radius: initial;
    margin-right: 1px;
}

.addNewBtn{
  margin-right: 10px;
  min-width:90px;
 
  background: #2372b5;
    box-shadow: none;
    border-radius: initial;
} */