.wrapper{
  /* padding: 13px 24px; */
  height: 57px;
  /* padding: 0 20px; */
  margin: 0 20px;
  /* background: #f3f4f8; */
  box-shadow: 0 5px 4px -5px #000000a1;
    border-bottom: 1px solid #e8e7e7; 
  /* background-color: #eee; */
  font-size: 14px;
  color: #ffffff; /* #464a4e; */
  font-weight: 600;
  position: sticky;
  /* width: 100%; */
  z-index: 998;
  left: 0;
  top: 0;
  display: flex;
  justify-content: stretch;
  /* background: #f7f7f7; */
  background: rgb(46, 55, 62);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  
}

.spinner{
  margin: 0;
  display: flex
}

.section{
  flex-grow: 1;
    display: flex;
    flex-basis: 0;
}

.alignCenter{
  text-align: center;
}

.alignLeft{
  text-align: left;
}

.flex{
  display: flex;
  align-items: center;
}

.flexAlignRight{
  justify-content: flex-start;
}

.flexAlignLeft{
  justify-content: flex-end;
}

.notificationBtn{
  width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: #8c49d6;
    color: #fff; */
    border: none;
    outline: none;
    cursor: pointer;
    background: none;
    color: #ffffff;
}

.moreBtn{
  width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
}

.notificationBtn svg:hover{
  color: #e2e2e2;
}

.vatWrapper{
  width: 150px;
  display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 600;
}

.toggleBtn{
  /* box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14), 0 3px 1px -2px rgba(153, 153, 153, 0.2), 0 1px 5px 0 rgba(153, 153, 153, 0.12); */
  padding: 6px 8px;
  border-radius: 4px;
  /* background-color: #fff; */
  border: none;
  outline: none;
  cursor: pointer;
  margin-right: 15px;
  background: #ca2452;
  box-shadow: inset 0 4px 20px 0 rgba(0, 0, 0,.14), inset 0 7px 10px -5px rgba(175, 175, 175, 0.4);
  color: #fff;
}

.menuItem{
  padding: 0;
}

.menuItemLink{
  padding: 6px 16px;
  width: 100%;
}

.menuItemLink:active,.menuItemLink:visited,.menuItemLink:link{
  color: #000000;
}