/* .wrapper{
  padding: 2px 24px;
  margin-top: 10px;
 background: #f3f4f8;
  font-size: 14px;
  color: #404040;
  font-weight: 600;
  position: sticky;
  width: 100%;
  z-index: 998;
  left: 0;
  top: 0;
  display: flex;
  justify-content: stretch;
} */

.wrapper{
  padding: 13px 24px;
  background: #f7f7f9;
  box-shadow: 0 5px 4px -5px #0000000d;
    border-bottom: 1px solid #e8e7e7;
  font-size: 14px;
  color: #464a4e;
  font-weight: 600;
  position: sticky;
  /* box-shadow: 0px 10px 27px -18px rgba(0, 0, 0, 0.18); */
  width: 100%;
  z-index: 998;
  left: 0;
  top: 0;
  display: flex;
  justify-content: stretch;
}

.spinner{
  margin: 0;
  display: flex
}

.section{
  flex-grow: 1;
  align-items: center;
    display: flex;
    justify-content: center;
    flex-basis: 0;
}

.alignCenter{
  text-align: center;
}

.alignLeft{
  text-align: left;
}

.flex{
  display: flex;
  align-items: center;
}

.flexAlignRight{
  justify-content: flex-start;
}

.flexAlignLeft{
  justify-content: flex-end;
}