.byTimeWrapper{
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  margin-right: -11px;
}

.timePicker{
  width: 100px;
  margin-right: 20px;
}

.timeInput{
  text-align: center;
}

.formControlLabel{
  margin-left: 0px;
}

.byHourWrapper{
  display: flex;
  margin-bottom: 30px;
  align-items: center;
  margin-right: -11px;
}

.hoursSelector{
  margin-right: 20px;
  width: 40px;
}