.timeWrapper{
  margin-bottom: 40px;
  align-items: center;
}

.timeWrapper{
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}

.timePicker{
  width: 100px;
  margin-right: 20px;
}

.timeInput{
  text-align: center;
}

.hourWrapper{
  display: flex;
  margin-bottom: 40px;
  align-items: center;
}

.hoursSelector{
  margin-right: 20px;
  width: 40px;
}