.wrapper{
  margin-bottom: 0px;
}

.controls{
  display: flex;
  align-items: center;
}

.leftPane{
  flex: auto;
  justify-content: flex-end;
  display: flex;
}

.middlePane{
  flex: auto;
  display: flex;
  justify-content: center;
}

.rightPane{
  flex: auto;
}

.editModeWrapper{
  flex: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}