.wrapper{
  padding: 10px 5px;
  /* border-bottom: 1px solid #f1f1f1; */
  /* box-shadow: 0 0px 10px 0px rgb(0 0 0 / 8%); */
  position: relative;
  z-index: 6;
  /* background: #0e7ab9; */
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.controls{
  display: flex;
  align-items: center;
}

.fullscrenn{
  justify-content: flex-end;
  display: flex;
}

.leftPane{
  flex: 1;
  justify-content: flex-end;
  display: flex;
}

.middlePane{
  flex: 1;
  display: flex;
  justify-content: center;
}

.rightPane{
  flex: 1;
}

.editModeWrapper{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(46, 55, 62);
}

.hidden{
  display: none;
}

.show{
  display: block;
}