.listItemText {
  font-weight: 500;
}

.listItemIcon,
.listItemText,
.expandIcon {
  color: #000000;
}

.collapse {
  /* background: #000c1847; */
  padding: 5px 0;
}

.listItem {
  margin-bottom: 0px;
  cursor: pointer;
}