.list{
  overflow-y: hidden;
  overflow-x: hidden;
  margin-bottom: 80px;
  background:  none;
  margin-top: 10px;
  user-select: none;
}


.list:hover{
  overflow-y: overlay;
}

/* width */
.list::-webkit-scrollbar {
  width: 10px;
  overflow-x: hidden;
}

/* Track */
.list::-webkit-scrollbar-track {
  background: none;
  box-shadow: none;
}
 
/* Handle */
.list::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #e6e6e6;
  border-radius: 3px;
}

.list::-webkit-scrollbar-thumb:hover {
  background: #d4d4d4; 
}