.container{
  margin-top: 20px;
  background: #fff;
  padding: 40px 20px 60px;
  border-radius: 4px;
}

.divider{
  margin-bottom: 30px;
  margin-top: 5px;
}

.paddingLeft{
  margin-left: 20px;
}

.select{
  width: 150px;
}

.createBtn,.createBtn:hover{
  background-color: #1b966e;
}

.description{
  margin-top: 20px;
}

.descriptionText{
  font-size: 16px;
}

.subtitle{
  padding-bottom: 10px; 
  font-size: 28px
}

.error{
  font-size: 16px;
  color: #484747;
    font-size: 18px;
    justify-content: center;
    display: flex;
}