.header {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  padding-top: 35px;
    /* background: rgba(255,255,255,0.45); */
}

.titleWrapper{
  /* box-shadow: 0 4px 20px 0 rgba(0, 0, 0,.14), 0 7px 10px -5px rgba(175, 175, 175, 0.4); */
  padding: 7px 24px;
}