.basic {
  background: #ffffff !important;
  border-radius: 3px !important;
  font-size: 16px;
}

.info,
.warning,
.error,
.success {
  background: #ffffff !important;
  border-radius: 3px !important;
  border-bottom: 4px solid #258db5;
}

.info {
  color: #10475d;
  border-color: #0365a2;
}

.success {
  color: rgb(0, 102, 68);
  border-color: rgb(54, 179, 126);
}

.error {
  color: rgb(189, 42, 42);
  border-color: rgb(241, 52, 52);
}

.warning {
  color: rgb(212, 117, 0);
  border-color: rgb(255, 141, 0);
}
