.dates {
  display: flex;
align-items: center;
justify-content: center;
}

.formControl {
    min-width: 120;
    display: flex;
    padding: 0;
    border-radius: 3px;
  }

.formSelect {
  text-align: center;
  margin: 0 5px;
  width: 100px;
  /* background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgb(248, 248, 249) 100%); */
  background-color: #ffffff;
  font-size: 15px;
  border-radius: 3px;
  color: #000000;
  font-weight: 400;
  border: 1px solid #efecec;
}

  .select{
    padding: 8px 0 6px 24px;
    font-weight: 400;
  }

  .select:focus {
    background: none;
  }

  .formSelect::before {
    border-bottom: none;
    border-width: 1px;
  } 

  .month{
    display: inline-block;
    margin-right: 10px;
  }

  .year{
    display: inline-block;
    margin-left: "10px";
  }

  .button{
    margin: 0px 5px 0 10px;
    background-color: #edf0f3;
    border-color: #343a40;
    /* border: 1px solid #dedede; */
    color: #000;
    /* background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgb(248, 248, 249) 100%); */
    border: none;
    box-shadow: none;
    font-weight: 600;
    font-size: 13px;
  }

  .button:hover{
    background: rgb(243, 243, 243);
  box-shadow: none;
  }

  .pickerWrapper{
    display: flex;
  }

  .pickerLabel{
    color: #000000;
    font-size: 16px;
    display: flex;
    align-items: center;
    font-weight: 400;
  }
