.wrapper{
  padding-top: 30px;
}

.infoBox{
  margin: 0 0 0 1%;
  /* padding: 10px 105px; */
  width: 24.24%;
  display: inline-flex;
  box-shadow: none;
  height: 120px;
}

.loadingWrapper{
  margin: 0 0 0 1%;
  width: 24.24%;
  display: inline-flex;
  box-shadow: none;
  height: 120px;
  vertical-align: middle;
text-align: center;
justify-content: center;
background: #fff;
align-items: center;
}

.loadingWrapper:first-child{
  margin-right: 0;
}

.loadingWrapper:last-child{
  margin-left: 0;
}

.infoBox:first-child{
  margin-right: 0;
}

.infoBox:last-child{
  margin-left: 0;
}

.infoBox .header{
  background-color: initial;
  box-shadow: initial;
  border-radius: initial;
  display: inline-flex;
    border-left: 1px solid #eef3f7;
    padding: 5px 5px 5px 8px;
}

.header .title{
  color: #323a3c;
  writing-mode: vertical-rl;
text-orientation: mixed;
vertical-align: middle;
text-align: center;
justify-content: center;

}

.infoBox .body{
  background-color: initial;
  box-shadow: initial;
  border-radius: initial;
  display: inline-flex;
  flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 85%;
}

.body .expansesTitle{
  color: #323a3c;
  font-size: 16px;
}


