.mainTitle{
  text-align: right;
  font-weight: 600;
  margin: 0;
  color: #28629e;
  font-style: normal;
  font-size: 26px;
  line-height: 26px;
  /* text-shadow: 0px 0px 6px #0000001a; */
  /* text-shadow: 3px 2px 2px #0000001c; */
}

.subtitle {
  text-align: right;
  font-size: 13px;
  color: #1e9c79;
  font-weight: 600;
  margin: 0;
  font-style: normal;
  letter-spacing: 0.054em;
  line-height: 13px;
  /* text-shadow: 0px 0px 6px #0000001a; */
  /* text-shadow: 3px 2px 2px #0000001c; */
}

.container {
  display: flex;
  padding-right: 18px;
  width: 235px;
  position: relative;
  margin-top: -2px;
  user-select: none;
  border-left: 1px solid #f3f3f3;
}

.logoWrapper{
  /*background: #fff; */
  /* background: linear-gradient(0deg, #f7f8fd 0%, #ffffff 100%); */
  /* border: 1px solid #efefef; */
  height: 42px;
  width: 44px;
  margin-left: 0px;
  display: flex;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  /* box-shadow: 0 0px 3px rgb(0 0 0 / 40%); */
  /* border: solid 1px #1f7abb;*/
}

.logoWrapper img{
  filter: drop-shadow(3px 2px 2px #00000030);
  width: 50px;
  height: 50px;
}

/* .logoWrapper:before{
  height: 40px;
  width: 42px;
  border: solid 1px #e0e0e0;
  position: absolute;
  content: "";
  border-radius: 5px;
} */
/* 
.logoWrapper img{
  filter: drop-shadow(0px 0px 6px #00000035);
} */

.logo{
  background: url('../../assets//images//ramot\ group.png') no-repeat;
  width: 52px;
  height: 52px;
  background-size: 52px 52px;
  filter: drop-shadow(5px 5px 5px #00000012);
}

.LogotextWrapper{
  margin-top: 0px;
  margin-right: 0px;
  /* text-shadow: 0px 0px 4px #00000012; */
}

.appVersionWrapper{
  color: #7a8492;
  position: absolute;
  bottom: 5px;
  left: 15px;
  font-size: 13px;
}
