.wrapper{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #3f414d;
  font-size: 1.100em;
}

.marginText{
  margin-right: 5px;
    background: rgb(237, 242, 245);
    padding: 3px 16px;
    border-radius: 5px;
    color: #596267;
    font-weight: 600;
}