.pageControls{
  float: left;
  margin: 0 20px 0 0;
  padding-top: 3px;
}

.pageControlsButton{
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
  margin: 0 6px;
  display: inline-flex;
  height: 36px;
  width: 42px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}