.container{
  margin: 0 20px;
}

.header{
  color: #000000;
  background: #f3f4f8;
}

.tableCellHeader{
  font-size: 15px;
  font-weight: 600;
}

.tableCell{
  font-size: 15px;
}

.serviceRow{
  display: flex;
  padding: 10px 0;
}

.serviceRowTitle{
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.serviceRowStatus{
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.serviceRowActions{
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.btn{
  background-color: #edf0f3;
  color: #000;
  min-width:90px;
  box-shadow: none;
  font-weight: 600;
  font-size: 13px;
  border: 1px solid #dadada;
}

.statusTextWrapper{
  width: 70px;
  border-radius: 6px;
  color: #fff;
  padding: 4px 0;
  margin:auto;
}