.boxWrapper{
  width: 100%;
  background: #fff;
  margin: 10px 0;
  border: 1px dashed #d6d6d6;
}

.textField {
  margin-left: 8px;
  margin-right: 8px;
  width: 200;
}

.button {
  margin: 8px;
}

.inputLabel {
  color: #000;
}

.formSelect {
  display: inline-block;
  padding: 0 10px;
  margin: 0 5px;
  width: 200px;
}

.formControl {
  min-width: 200px;
}