.form{
  padding-right: 5px;
}

.dbBackupTitle{
  display: inline-block;
  margin-bottom: 0;
  padding-top: 2px;
  font-size: 28px;
}

.dbBackupStatus{
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 0;
  padding-top: 2px;
  font-size: 28px;
}

.dbBackupActive{
  color: green;
}

.dbBackupDisabled{
  color: red;
}

.dbFileTextFieldLocationWrapper{
  margin-top: 0px;
  width: 580px;
  background-color: #ffffff;
}

.dbFileTextFieldLocationInput{
  padding: 9px 14px;
  direction: ltr;
}

.dbLastUpdate{
  font-size: 15px;
  position: absolute;
  left: 25px;
}

.divider{
  margin-bottom: 20px;
  margin-top: 5px;
}

.time{
  width: 200px;
  display: flex;
  margin-top: 10px;
}

.saveBtn{
  background-color: #439dd2;
  display: flex;
  margin-top: 40px;
}