._table{
  width: 100%;
  overflow: hidden;
  /* padding: 10px; */
  border-radius: 0px;
  position: relative;
  background: #fff;
}

._tableBody{
  display: grid;
  border-bottom: 1px solid #e3eaec;
  direction: rtl;
  border-left: 1px solid #e3eaec;
  background: #fff;
  position: relative;
  color: #000000;
}

._tableRow{
  display: grid;
  border-bottom: 1px solid #e6e6e6;
}

._tableRow:hover{
  background-color: rgb(247, 248, 249);
}

._tableColumn{
  border-right: 1px solid #e6e6e6;
  font-size: 16px;
}

.spinnerWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 630px;
  border-left: 1px solid rgba(0,0,0,.08);
  border-right: 1px solid rgba(0,0,0,.08);
  border-bottom: 1px solid rgba(0,0,0,.08);
  border-top: 1px solid rgba(0,0,0,.08);
}

.noDataText{
  font-size: 18px;
}

.saveNotificationWrapper{
  position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}