#table{
  border-radius: 0px;
  background: #fff;
  width: 100%;
  position: relative;
  /* box-shadow: 0 6px 20px -10px rgb(0 0 0 / 2%), 0 -6px 20px -10px rgb(0 0 0 / 2%); */
  box-shadow: 0 0 12px 2px rgb(0 0 0 / 6%);
  z-index: 6;
  border-collapse: collapse;
}

th,td{
  padding: 0;
  margin: 0;
}

._tableBody{
  display: grid;
  direction: rtl;
  background: #fff;
  color: #000000;
  text-align: left;
  position: relative;
}

.groupRow{
  border-bottom: none !important;
  border-top: 1px solid #f1f1f1;
  position: relative;
  background-color: #fafafa;
}

.headerRow{
  grid-template-columns: minmax(60px, 5%) repeat(12, 1fr);
  border-top: 1px solid #f1f1f1;
  position: relative;
  background-color: #fafafa;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 2px 2px 1px;
  border-bottom: 1px solid #fafafa;
  z-index: 2;
}

.tableRow{
  min-height: 35px;
  display: grid;
  border-bottom: 1px solid #f1f1f1;
}

.groupCell{
  font-weight: 500;
  font-size: 16px;
  height: 40px !important;
}

.headerCell{
  font-weight: 500;
  font-size: 16px;
  height: 40px !important;
}

.tableCell{
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: pre-wrap;
  word-break: break-word;
  text-align: center;
  overflow: hidden;
  border-right: 1px solid #f1f1f1;
  font-size: 16px;
  min-height: 35px;
}

.tableCellInner{
  justify-content: center;
  align-items: center;
  display: flex;
  color: #000000;
}