#table {
  border-radius: 0px;
  background: #fff;
  width: 100%;
  position: relative;
  z-index: 6;
  border-collapse: collapse;
  padding: 20px;
  padding-top: 0;
}

th,
td {
  padding: 0;
  margin: 0;
}

._tableBody {
  display: grid;
  direction: rtl;
  background: #fff;
  color: #000000;
  text-align: left;
  position: relative;
  border-top: none;
  height: -moz-calc(100vh - 252px);
  height: -webkit-calc(100vh - 252px);
  height: calc(100vh - 252px);
  border: 1px solid #dddddd;
  border-top: none;
}

.tableBodyNoGroupHeader {
  height: -moz-calc(100vh - 299px);
  height: -webkit-calc(100vh - 299px);
  height: calc(100vh - 299px);
}

.tableRow {
  min-height: 35px;
  display: grid;
  border-bottom: 1px solid #dddddd;
}

.tableCell {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: pre-wrap;
  word-break: break-word;
  text-align: center;
  overflow: hidden;
  border-right: 1px solid #dddddd;
  font-size: 16px;
  min-height: 40px;
}

.tableCellInner {
  justify-content: center;
  align-items: center;
  display: flex;
  color: #000000;
}

.tableCell:first-child {
  border-right: none;
}

.groupRow {
  border-bottom: none !important;
  position: relative;
  border: 1px solid #dddddd;
  border-bottom: none;
  /* border-radius: 6px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; */
}

.headerRow {
  grid-template-columns: minmax(60px, 5%) repeat(12, 1fr);
  border: 1px solid #dddddd;
  /* border-bottom: 4px solid #dddddd; */
  position: relative;
  box-shadow: rgb(0 0 0 / 4%) 0px 8px 12px -4px;
  z-index: 2;
  /* background-color: #fdfdfd; */
}

.groupCell {
  font-weight: 600;
  font-size: 14px;
  height: 45px !important;
  border-right: none;
}

.headerCell {
  font-weight: 600;
  font-size: 14px;
  height: 45px !important;
  border-right: none;
}
