.typography {
  /* color: #6057ec; */
  /*color: #3533e6; */ /*#d0213f*/
  /* color: #816cd2; */
  color: #ca2452;
  width: 70px;
  font-size: 28px;
  font-weight: 600;
  margin-top: 0.21em;
  font-family: 'Roboto';
  font-style: italic;
}

.toolbarRoot {
  padding-left: 20px;
  display: initial;
  min-height: initial;
  padding-top: 10px;
  padding-bottom: 12px;
  /* background-color: #000c187a; */
  border-bottom: 1px solid #333a42;
  margin-bottom: 18px;
  direction: ltr;
}

