.container {
  width: 250px;
  position: relative;
  user-select: none;
  /* background: #0e7ab9b8; */
  /* background: linear-gradient(66deg, rgba(11,106,161,1) 0%, rgba(14,122,185,1) 100%); */
  -webkit-app-region: no-drag;
  -webkit-user-select: none;
}

.container:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.8;
  /* background-image: url('../../assets/images/ramot\ group.png'); */
  background-repeat: no-repeat;
  background-size:  220px;
  background-position: right;
  background-position-x: 110px;
  background-position-y: -45px;
  background-blend-mode: overlay;
  filter: drop-shadow(16px 16px 20px rgba(0, 0, 0, 0.473));
}

.wraper{
  display: flex;
  justify-content: center;
}

.logoWrapper{
  margin-top: 0px;
    position: relative;
    z-index: 3;
    width: 220px;
    border-radius: 6px;
}

.mainContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainTitle{
  text-align: right;
  font-weight: 500;
  margin: 0;
  color: #fafafa;
  font-style: normal;
  font-size: 26px;
  letter-spacing: -1px;
}

.subContainer{
  text-align: right;
  margin-top: -5px;
  z-index: 3;
}

.subtitle {
  text-align: center;
  font-size: 10px;
  color: #fafafa; /* #1fcca5 */
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.12rem;
  position: relative;
}

.appVersionWrapper{
  color: #7a8492;
  position: absolute;
  bottom: 5px;
  left: 15px;
  font-size: 13px;
}
