.container {
  width: 250px;
  position: relative;
  user-select: none;
  /* background: #0e7ab9b8; */
  /* background: linear-gradient(66deg, rgba(11,106,161,1) 0%, rgba(14,122,185,1) 100%); */
  -webkit-app-region: no-drag;
  -webkit-user-select: none;
  height: 160px;
}

.container:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.8;
  /* background-image: url('../../assets/images/ramot\ group.png'); */
  background-repeat: no-repeat;
  background-size:  220px;
  background-position: right;
  background-position-x: 110px;
  background-position-y: -45px;
  background-blend-mode: overlay;
  filter: drop-shadow(16px 16px 20px rgba(0, 0, 0, 0.473));
}

.logoWrapper{
  margin-top: 15px;
  position: relative;
  z-index: 3;
}

.mainContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainTitle{
  text-align: right;
  font-weight: 600;
  margin: 0;
  color: #dedede;
  font-style: normal;
  font-size: 32px;
  letter-spacing: -1px;
  /* text-shadow: 0px 0px 6px #0000001a; */
  /* text-shadow: 3px 2px 2px #0000001c;*/
}

.subContainer{
  text-align: right;
  margin-top: -5px;
  z-index: 3;
}

.subtitle {
  text-align: center;
  font-size: 14px;
  color: #dedede; /* #1fcca5 */
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.08rem;
  position: relative;
  /* text-shadow: 0px 0px 6px #0000001a; */
  /* text-shadow: 3px 2px 2px #0000001c; */
}

.appVersionWrapper{
  color: #7a8492;
  position: absolute;
  bottom: 5px;
  left: 15px;
  font-size: 13px;
}
